@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

$body-font: 'Open Sans Condensed', sans-serif;
$title-font: 'News Cycle', sans-serif;
$primary-color: #240C26;

html, .App {
    background-color: $primary-color;
    width: 100%;
}
